body {
  margin: 0;
}
header {
  display:flex;
  flex-direction: row;
  height: 60px;
  background-color: #1e1e1e;
  color:white;
  border-bottom: 2px solid #313131;
  right: 0;
  left: 0;
  z-index: 1;
  position: fixed;

}
.header-container {
  display:flex;
  flex-grow: 1;
  align-items: center;
  padding:0 20px;
}
.nav-left {
  flex-grow: 1;
  display: flex;
  width: 100%;
}
.header-searchbar {
  outline: none;
  width: 100%;
  font-size: 14px;
  line-height: 14px;
}

.side-drawer {
  width: 270px;
  display: flex;
  flex-direction: column;
  background-color: #1e1e1e;
  color:white;
  position: fixed;
  left:0;
  margin-top:3.5rem;
}
.input-container {
  flex-grow:1;
}
.input-container input {
  height:40px;
  border-radius:40px;
  background-color:#313131;
}
.header-searchbar-container {
width: 100%;
margin:0 60px;
}
.sidedrawer-heading {
  padding:16px 24px 8px;
  line-height:16px;
}
.topic-button {
  display: flex;
  padding: 8px 30px;
  width: 100%;
}
.sidedrawer-button :hover {
  background-color:#313131 ;
}
.sidedrawer-button {
  padding: 0 4px;
  background: transparent;
  border: none;
  cursor: pointer;
  color: white;
  overflow: hidden;
}
.rating-header {
  background-color: rgb(31, 31, 31);
  color: white;
  padding:20px;
  border-radius: 4px;
  display: flex;
  border-radius: 5px;

}
.post-header {
  background-color: rgb(31, 31, 31);
  color: white;
  padding:0px 20px 20px 0px;
  border-radius: 4px;
  display: flex;
  border-radius: 5px;

}
.post-header-category {
  background-color: #373839;
  padding: 10px;
  border-radius: 14px;
  margin-inline: 8px;
}
.post-header-category:hover {
  background-color: #3f4041;
  cursor: pointer;
}
.post {
background-color: #1e1e1e;
margin-top:.7rem;
color:white;
padding: 0px 60px 0px 60px;
border-radius: 5px;
border: 2px solid #373839;
position: relative;

}
.vote-bar {
  left:0;
  top:0;
  position: absolute;
}
.post-container {
  padding:20px;

}
.interaction-bar {
  display: flex;
}
.main-container {
  position: relative;
}
.main-component-container {
  margin-left:280px;
  position:absolute ;
  margin-top:5rem;
}
.interaction-button {
  padding:10px;
  cursor:pointer;

}
.interaction-button:hover{
 background-color:#373839;
 border-radius: 5px;

}