body {
  margin: 0;
}
header {
  display:flex;
  flex-direction: row;
  height: 48px;
  background-color: #1e1e1e;
  color:white
}
.header-container {
  display:flex;
  flex-grow: 1;
  align-items: center;
}
.nav-left {
  flex-grow: 1;
}