body {
  margin: 0;
}
header {
  display:flex;
  flex-direction: row;
  height: 48px;
  background-color: #1e1e1e;
  color:white
}
.header-container {
  display:flex;
  flex-grow: 1;
  align-items: center;
}
.nav-left {
  flex-grow: 1;
}
.header-searchbar {
  outline: none;
  width: 100%;
  font-size: 14px;
  line-height: 14px;
}
.header-searchbar-container {
  height:48px
}
.side-drawer {
  width: 270px;
  display: flex;
  flex-direction: column;
  background-color: #1e1e1e;
  color:white
}